	<div class="row footer container-fluid" id="fgrad">
		<div class="col-lg-12 col-xs-12">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-12">
						
						<button class="vision foot">About</button>
							<div class="section">
							<p> The Finder's Game is the first mega online event of Pyrokinesis 2017, which is the annual fest of Assam Engineering College, the first engineering college in the north-east India.</p>
							<p> We the team of The Finder's Game welcomes everyone to participate in this challenge and win exciting prizes </p>
							<p>More Details:-</p>  	
							<ul>
								<li><a href="http://www.aec.ac.in/">Assam Engineering College</a></li>
								<li><a href="http://pyrokinesis.in/">Pyrokinesis 2017</a></li>
								<li><a href="http://pyrokinesis.in/">Udvabanam 5.0</a></li>
							</ul>
							</div>
						
					</div>
					<div class="col-lg-4 col-sm-12">
						
							<button class="vision foot">Team Members</button>
							<div class="section">
							<ul>
							<li>Prantick Das - Contact <a href="https://www.facebook.com/prantick.equinox.7" style="color:blue"> here </a></li>
							<li>Mrinmoy Kalita</li>
							<li>Himshikhar Gayan</li>
							<li>Labanava Parasar</li>
							<li>Triporna Kashyap</li>
							<li>Nishita Paul</li>
							</ul>
							</div>
						
					</div>
					<div class="col-lg-4 col-sm-12">
						
							<button class="vision foot">Contact Us</button>
							<div class="section">
							<center><img src="/images/qr.png"></center>
							<ul>
								<li><a href="https://www.facebook.com/thefindersgame/">Facebook Page</a></li>
								<li>Email: thefindersgame.udv.pyro@gmail.com</li>
							</ul>
							</div>
						
					</div>
				</div>
			</div>
			<br>
			<div class="copyright"> &copy Copyright TheFindersGame | All rights reserved</div>
		</div>
	</div>
<script>
		var acc = document.getElementsByClassName("vision");
		var i;

		for (i = 0; i < acc.length; i++) {
		    acc[i].onclick = function(){
		        this.classList.toggle("active");
		        this.nextElementSibling.classList.toggle("show");
		  }
		}
</script>	
</body>
</html>