	<div class="row footer container-fluid" id="fgrad">
		<div class="col-lg-12 col-xs-12">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-12">
						
						<button class="vision foot">About</button>
							<div class="section">	
							<ul>
								<li>Assam Engineering College</li>
								<li>Pyrokinesis 2017</li>
								<li>Udvabanam 5.0</li>
							</ul>
							</div>
						
					</div>
					<div class="col-lg-4 col-sm-12">
						
							<button class="vision foot">Team Members</button>
							<div class="section">
							<ul>
							<li>Prantick Das</li>
							<li>Mrinmoy Kalita</li>
							<li>Himshikhar Gayan</li>
							<li>Labanava Parasar</li>
							<li>Triporna Kashyap</li>
							<li>Nishita Paul</li>
							</ul>
							</div>
						
					</div>
					<div class="col-lg-4 col-sm-12">
						
							<button class="vision foot">Contact Us</button>
							<div class="section">
							<ul>
								<li>Facebook Page</li>
								<li>Email: thefindersgame.udv.pyro@gmail.com</li>
							</ul>
							</div>
						
					</div>
				</div>
			</div>
			<br>
			<div class="copyright"> &copy Copyright TheFindersGame | All rights reserved</div>
		</div>
	</div>
<script>
		var acc = document.getElementsByClassName("vision");
		var i;

		for (i = 0; i < acc.length; i++) {
		    acc[i].onclick = function(){
		        this.classList.toggle("active");
		        this.nextElementSibling.classList.toggle("show");
		  }
		}
</script>	
</body>
</html>