<% include partials/header %>
<div class="container" style="padding-bottom:15%">
<a href="/questions" class="button btn btn-info btn-lg btn-block" style="margin-bottom:20px;"> Go Back and solve more </a>
<h1>You have successfully reached the Keypage</h1>
<h2>Key is: YoUNeveRKnoW </h2>
</div>
<% include partials/footer %>