<% include partials/header %>

<div class="christmas" style="padding-top:20px;">

<h1 class="text-center lobster" style="color:white; font-size:50px;"> Rules </h1>

<div class="sticky">
 <ul class="sul handlee">
    <li>
      <a href="#">
        <h1>#Rule 1</h1>
        <p>The winner will be the one who will be able to solve the maximum number of questions in the given time; A tie in the score will be broken with respect to the time taken to solve the questions.</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h1>#Rule 2</h1>
        <p>Some of the questions are descriptive, some are based on pictures, audio and video.</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h1>#Rule 3</h1>
        <p>Time will be the prime aspect in this competition, choose your questions wisely and try to solve as much as possible.</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h1>#Rule 4</h1>
        <p>The first 10 questions is of Round 1, You have to solve all the 10 questions in order to get a key, which will be the prime factor that will help you to solve questions in round 2.</p>
      </a>
    </li>
  </ul>

</div>
<div class="container">
<center><a href="/questions" class="button btn btn-default btn-lg" style="margin-bottom:30px;"> Go Back to questions and start solving </a></center>
</div>
</div>

<% include partials/footer %>