<% include partials/header %>
<div class="lizard" style="margin-top:-20px; padding-top:10px;">
<div class="container">
<center><a href="/questions" class="button btn btn-info btn-lg" style="margin-bottom:20px;"> Go Back to questions </a></center>
</div>
<div class="container" style="padding-bottom:20px;">

<h1 class="text-center lobster" style="color:white;"> Here are some musical tools (Patatap and Typatone)... Enjoy!! </h1>
<p class="text-center lobster" style="color:white; font-size:25px;"> Use it in a PC, These tools are for assistance for solving some questions... Keep them handy </p>
<iframe src="http://www.patatap.com/" style="width:100%; height:500px;"></iframe>
</div>
</div>
<% include partials/footer %>